# software (vitis) project configuration for FreeRTOS
ProjectConf=psc
ProjectTcl=tcl/project_sw_psc.tcl
AppName=zubpm
AddrType=
ToolType=vitis
OsType=freertos10_xilinx
CpuType=psu_cortexa53_0
Arch=64-bit
# define HW file to be used, set env variable if not set
FWK_HW_FILE?=src/sw_psc/zubpm.xsa

